@charset "utf-8";
/* CSS Document */

p{
    font-size: 3vh;
    line-height: 5vh;
    color: white;
    
}

.greenacross{
    position: relative;
    z-index: -100;
    background-color:#00CD91;
    height: 44vh;
    margin-bottom: -41.5vh;
}

.blackletter{
    color: #151515;
}

div.card , .card-img-top{
    border:none;
}

.img-card-top{
    min-height: 15vh;
    overflow: hidden;
    object-fit: cover;
}

.bandlid{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.tag-card {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0008B7;
    padding: 5% 10% 5% 25%;
    border-radius: 5pt 0 0 5pt;
    color: white;
    font-weight: bold;
    min-width: 10vw;
}



@media (max-width: 600px){
    p{
        font-size: 1rem;
    }
    .btn{
    margin: 5vh 0;
    width: 100%;
}
}

@media (min-width: 601px) and (max-width:800px){
    p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    
}