@charset "UTF-8";



/* CSS Document */
    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto' , sans-serif;
        
    }

    body{
    background-color: #151515;
    padding: 0;
    margin: 0;
    }

    .container-fluid{
        padding:0;
        margin: 0;
    }


/*Nav*/
    .logo{
        background-image: url("../content/Naft-Logo.svg");
    }

    .navbar{
        background: rgba(0,0,0,0);
        color: white;
    }
    .navbar-brand img{
        margin-top: 2rem;
        height: 10vh;
        color: white;
    }


    .navbar-toggler{
        z-index: 100;
        margin-top: 2rem;
        padding-top: 1,5rem;
    }


    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        min-height: 8vh;
        min-width: 8vh;
    }
    
    nav ul{
        align-items: flex-end;
        z-index: 50;
        background-color: #00CD91;
        padding: 50% 35%;
        margin: -35% 0 0 20%;
        margin-left: 5vw
    }

    nav ul li a{
        margin-left: 15vw;
        line-height: 8vh;
        color: white;
        font-size: 3rem;
        letter-spacing: 1rem;
        transition: letter-spacing .3s;
        transition-timing-function: ease-in-out;
        font-weight: 300;
        
    }
    nav ul li a:hover{
        color:#E2E2E2;
        letter-spacing: 1.3rem;
    }



/*--- Bootstrap Mobile Gutter Fix --*/
    .row{
    margin-left: 0px!important;
    margin-right: 0px!important;
    }

/*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #video {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      will-change: transform;
      z-index: -1000;
    }
    video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }


    .video-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0,0,0,0.25)
    }

    .caption{
        position: absolute;
        top: 45%;

        width: 100%;
        color: white;
    }

    .caption h1{
        font-size: 3rem;
        text-transform: uppercase;

    }

    .caption h3{
        font-size: 0.8rem;
    }

/*------------------------*/




/*Idee voor code dat item van container container vrijstelt in InspiratieCodes.txt*/ 
.pagetitle{
    margin:-8.5vh 0 5vh 0;
    padding: 1% 4% 1% 1%;
    position: relative;
    background-color: white;
    left: calc(-1 * (100vw - 100%) / 2);
    width: 65vw;
    
}

.pagetitle h1{
    color: #151515;
    font-weight: 900;
    font-size: 7vh;
    margin-right: 5vw;
    
}


.titleleft{
    margin:5vh -10vw -10vh 0;
    padding: 3% 1% 3% 2%;
    background-color: white;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size:1rem;
    position: relative;
    z-index: 500;
}


.carousel{
    padding-left: 0;
    padding-right: 0;
}

.carousel-item img{
    height: 35vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.green{
    background-color:#00CD91;
    left: calc(-1 * (100vw - 100%) / 2);
}

.full-width {
  margin-top: -10vh;
    padding-top: 13vh;
    padding-bottom: 5vh;
    
  margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2);
}


}

h1.carousel-title{
    /*position*/
    
    margin-top: -10vh;
    padding-top: 13vh;
    
    /*Type*/
    
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: end;
}

p.carouseltag{
    /*Box-size*/
    padding-top: 1vh;
    padding-bottom: 5vh;
    
    /*Type*/
    
    text-align: end;
    font-size: 1.3rem;
    
}


.carousel-control-prev,.carousel-control-next{
    max-height: 35vh;
}

/*Showdates Tabel*/

.table{
    margin: 5vh 0;
    background-color: transparent;
    color: #00CD91;
    font-size: 0.8rem;
}
.table td{
    vertical-align: middle;
    padding: 2rem 0.25rem;
    
}
.table th{
    font-size: 0.5rem;
    vertical-align: middle;
}

.table .city{
	font-variant-caps: all-small-caps;
}

.venue{
    color: white;
    text-align: end;
}


.ticket{
    text-align: end;
}


.albumtitle{
    margin:2vh 0 5vh 0;
    padding: 1% 4% 1% 1%;
    position: relative;
    background-color: white;
    left: calc(-1 * (100vw - 100%) / 2);
    width: 75vw;
    
}

.albumtitle h1{
    color: #151515;
    font-weight: bolder;
    font-size: 7vh;
    margin-right: 15vw;
    
}

.center{
    margin-top: auto;
    margin-bottom: auto;
}

div.image{
    min-height: 40vh;
    overflow: hidden;
    }


.blue {
    background: blue;
}

/* footer
---------------------- */
.page-footer{
    margin-top: 15vh;
}

.inputEmail {

    border: .1rem solid rgb(255,255, 255);
    padding: .5rem;
    font-size: 1rem;
    width: 70%;
}

.submit {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: .6rem 1rem 0.6rem 0.6rem;
    font-size: 1rem;
    margin-left: -.2rem;
    margin-bottom: 2rem;
    border-radius: 0 2vw 2vw 0;
}

.footer-copyright {
    background-color: rgba(0,0,0,0.2) ;
    color: white;
    font-size: 0.7rem;
}

.contact_titel{
	font-size: 20px;
	font-weight: bold;
}
.klik{
    text-decoration: none;
}

footer a:hover{
	color: deeppink;
	text-decoration: none;

}

footer a{
	color: black;
}

.fa{
	font-size: 50px;
}



/*

SCREENSIZE +800PX

*/




@media (min-width: 800px){
    
    /*NAV*/
  
    .navbar-brand img{
            margin-top: 2rem;
            height: 10vh;
            color: white;
        }


   nav ul{
        background-color: transparent;
        margin: 0;
        padding: 0;
        }    

   nav ul li a{
            color: white;
            font-size: 6vh;
            letter-spacing: 2rem;
        line-height: 12vh;
        }

   nav ul li a:hover{
            color:#E2E2E2;
            letter-spacing: 4rem;
        }    

    /*Video Caption*/

    .caption h1{
        font-size: 8rem;
        text-transform: uppercase;
    }

    .caption h3{
        font-size: 2.5rem;
    }


    /*PAGETITLE*/

    .pagetitle{
        margin-top: -15vh;
        width: 42vw;

    }

    .pagetitle h1{
        color: #151515;
        font-weight: bold;
        font-size: 12vh;
        margin-right: 5vw;

    }

    /*Sectiontitle*/

    .titleleft{
        margin-bottom: -5vh;
        font-size:3rem;
    }

    /*CONTENT*/

    

    .carousel-item img{
        height: 35vw;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }

    .green{
        background-color:#00CD91;
    }
     
    .carousel-title{
    /*position*/
    margin-top: -10vh;
    padding-top: 13vh;
    
    /*Type*/
    font-size: 7vh;
    font-weight: bold;
    text-align: end;
        color: white;
}
    
    p.carouseltag{
    
    font-size: 3vh;
    }


    /*Showdates Tabel*/

    .table{
        margin: 5vh 0;
        font-size: 2rem;
    }    
    .venue{
        font-size: 2.2rem;
        font-weight: Bold;
    }


    .venue{
        color: white;
    }

    .table th{
    font-size: 1.3rem;
    }



}





/*Big Screen widths addition*/
@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1400px;
    margin:auto;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2000px;
    margin: auto;
  }
}