@charset "UTF-8";
@font-face{
    font-family: Futura;
}


/* CSS Document */
    *{
        margin: 0;
        padding: 0;
        font-family: Futura;
    }

    body{
    background-color: #151515;
    padding: 0;
    margin: 0;
    }

    .container-fluid{
        padding:0;
        margin: 0;
    }


/*Nav*/
    .logo{
        background-image: url("../content/Naft-Logo.svg");
    }

    .navbar{
        background: rgba(0,0,0,0);
        color: white;
    }
    .navbar-brand img{
        margin-top: 2rem;
        height: 10vh;
        color: white;
    }


    .navbar-toggler{
        z-index: 100;
        margin-top: 2rem;
        padding-top: 1,5rem;
    }


    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        min-height: 8vh;
        min-width: 8vh;
    }
    
    ul{
        align-items: flex-end;
        z-index: 50;
        background-color: #00FFB2;
        padding: 40vh;
        margin: -40vh -40vh 0 -40vh;
        margin-left: 5vw
    }

    ul li a{
        line-height: 8vh;
        color: white;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        transition: letter-spacing .3s;
        transition-timing-function: ease-in-out;
        
    }
    ul li a:hover{
        color:#E2E2E2;
        letter-spacing: 2rem;
    }



/*--- Bootstrap Mobile Gutter Fix --*/
    .row{
    margin-left: 0px!important;
    margin-right: 0px!important;
    }

/*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #video {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      will-change: transform;
      z-index: -1000;
    }
    video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }


    .video-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0,0,0,0.25)
    }

    .caption{
        position: absolute;
        top: 45%;

        width: 100%;
        color: white;
    }

    .caption h1{
        font-size: 3rem;
        text-transform: uppercase;

    }

    .caption h3{
        font-size: 0.8rem;
    }

/*------------------------*/




/*Idee voor code dat item van container container vrijstelt in InspiratieCodes.txt*/ 
.pagetitle{
    margin:-8.5vh 0 5vh 0;
    padding: 1% 4% 1% 1%;
    position: relative;
    background-color: white;
    left: calc(-1 * (100vw - 100%) / 2);
    width: 65vw;
    
}

.pagetitle h1{
    color: #151515;
    font-weight: bold;
    font-size: 7vh;
    margin-right: 5vw;
    
}


.titleleft{
    margin:0 -10vw -10vh 0;
    padding: 3% 1% 3% 2%;
    background-color: white;
    color: black;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    font-size:3rem;
}

.carousel-item img{
    height: 35vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.green{
    background-color:#00FFB2;
}

p.carouseltag{
    /*Box-size*/
    margin-top: -10vh;
    padding-top: 13vh;
    padding-bottom: 5vh;
    
    /*Type*/
    text-align: end;
    font-size: 2vh;
}


/*Showdates Tabel*/

.table{
    margin: 5vh 0;
    background-color: transparent;
    color: #00FFB2;
    font-size: 0.8rem;
}

th.date{
    padding-left: 0;
    padding-right: 0;
}

.venue{
    color: white;
    text-align: end;
}









.blue {
    background: blue;
}

/* footer
---------------------- */


.footer-copyright {
    background-color: rgba(0,0,0,0.2) ;
    color: white;
    font-size: 0.7rem;
}





/*

SCREENSIZE +800PX

*/




@media (min-width: 800px){
    
    /*NAV*/
  
.navbar-brand img{
        margin-top: 2rem;
        height: 10vh;
        color: white;
    }
    
    
ul{
        background-color: transparent;
    margin: 0;
    padding: 0;
    }    
    
ul li a{
        color: white;
        font-size: 8vh;
        letter-spacing: 2rem;
    line-height: 12vh;
    }
    
ul li a:hover{
        color:#E2E2E2;
        letter-spacing: 4rem;
    }    
    
/*Video Caption*/
    
.caption h1{
    font-size: 8rem;
    text-transform: uppercase;
}

.caption h3{
    font-size: 2.5rem;
}
    
    
/*PAGETITLE*/
    
.pagetitle{
    margin-top: -15vh;
    width: 42vw;
    
}

.pagetitle h1{
    color: #151515;
    font-weight: bold;
    font-size: 12vh;
    margin-right: 5vw;
    
}

/*Sectiontitle*/

.titleleft{
    
    font-size:3rem;
}
    
/*CONTENT*/

 

.carousel-item img{
    height: 35vw;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.green{
    background-color:#00FFB2;
}

p.carouseltag{
    /*Box-size*/
    margin-top: -10vh;
    padding-top: 13vh;
    padding-bottom: 5vh;
    
    /*Type*/
    text-align: end;
    font-size: 2vh;
}


/*Showdates Tabel*/

.table{
    margin: 5vh 0;
    font-size: 2rem;
}
    .venue{
        font-size: 2.2rem;
        font-weight: Bold;
    }


.venue{
    color: white;
}










/*Big Screen widths addition*/

@media (min-width: 1920px) {
  .container {
    max-width: 1400px;
    margin:auto;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2000px;
    margin: auto;
  }
}