@charset "utf-8";
/* CSS Document */
.video-background {
        overflow: auto;
        background: 
    }

.video-wrap{
    position: fixed;
}

.page-footer{
    margin-top: 51.7vh;
}

footer div.container{
    z-index: 100;
    background-color:#00CD91 !important;

}

.caption{
    top: 18%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.caption .container{
    padding: 2vh;
    background-color: rgba(21,21,21,0.80);
    
}

.img{
    height: 40vh;
}

.img img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}