@charset "utf-8";
/* CSS Document */
.video-background {
        overflow: auto;
        background: 
    }

.video-wrap{
    position: fixed;
}

Footer{
    min-width: 100vw;
    margin-top: 10vh;
}

footer div.container{
    z-index: 100;
    background-color:#00CD91 !important;

}

.caption{
    top: 15%;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.caption .container{
    padding-top: 2vh;
    background-color: rgba(21,21,21,0.80);
    
}