@charset "utf-8";
/* CSS Document */
.video-background {
        overflow: auto;
        background: 
    }

.video-wrap{
    position: fixed;
}

footer div.container{
    z-index: 100;
    background-color:#00CD91 !important;
}