@charset "utf-8";
/* CSS Document */

.row{
    margin-bottom: 5vh;
}
p{
    color: white;
    font-weight: 300;
    text-align: end;
}

.image img{
    min-height: 45vh;
    object-fit: cover;
    object-position: center;
}


.greenbar{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 49.65vw);
    width: 99.55vw;
    position: relative;
    background-color:#00CD91;
    height: 20vh;
    margin-top: -30vh;
    z-index: -50;
    
    
}
.btn{
    background-color: #0500A9;
    color: white;
}

@media 
    (min-width: 580px)
and (max-width:799px){
    .image img{
        min-height: 25vh;
    }


    .albumtitle{
    margin:2vh 0 5vh 0;
    padding: 1% 4% 1% 1%;
    position: relative;
    background-color: white;
    left: calc(-1 * (100vw - 100%) / 2);
    width: 85vw;  
}
    
    
    .albumtitle-alt{
    margin:2vh 30vw 5vh -10vw;
    padding: 1% 4% 1% 0%;
    position: relative;
    background-color: white;
    width: 55vw;  
}


    .albumtitle h1,.albumtitle-alt h1{
    color: #151515;
    font-weight: bolder;
    font-size: 3.2rem;
    margin-right: 12vw;
    
}
    .greenbar{
    height: 25vh;   
    margin-top: -30vh;
        
        
    }
    
}



@media (max-height:576px){
    .albumtitle,.albumtitle-alt{
        margin-top: -25px;
        z-index: 100;
        width: 100vw;
    }
    
    .greenbar{
        height: 35.75vh;
        margin-top: -45vh;
    }
    
    .btn{margin-top: -1vh;}
}