@charset "utf-8";
/* CSS Document */

.row{
    margin: 5vh inherit;
}
p{
    color: white;
    font-weight: 300;
    text-align: end;
}

.image img{
    min-height: 45vh;
    object-fit: cover;
    object-position: center;
}


.greenbar{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
    position: relative;
    background-color:#00CD91;
    height: 20vh;
    margin-top: -25vh;
    
    
}