@charset "UTF-8";
/* CSS Document */


ul.nav-shop li a{
    margin-bottom: 1.8rem;
color: #00FFB2;
list-style: none;
text-decoration: none;
font-size: 25px;
}

ul.nav-shop li a.active {

    border-bottom: .3rem solid #00FFB2;
}

ul.nav-shop li a:hover{
	 border-bottom: .3rem solid #00FFB2;
}


.card {
    margin: 10px 10px 1vh;
	height: 35vh;
    padding: 0;
    border: 0;
    border-style: none;
    transition: .3s ease-in-out;
    overflow: hidden;

}

.card img {
	overflow: hidden;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: .8rem;
}

.card-img-overlay{
    margin: -5vh 1vw 1vh 1vw;;
    position: relative;
    font-size: 15px;
	color: #151515;
    background-color: rgba(0,205,145,1.00);
}


@media (max-width:576px)
{
    ul.nav-shop li a{
    font-size: 1.2rem;
}
    
    
    .card{
        min-height: 55vh;
    }
    
    
    
    
}
    
    
}


@media (min-width:800px)
{
    .card {
	height: 20vw;
    margin: 1.7rem;
    margin-bottom: 1rem;
    
    
}